extends ../layouts/admin-layout.pug
block styles
    link(rel="stylesheet" href="/css/themes/image.css")
    link(href='/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' rel='stylesheet')
    script.jsbin(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
block content    
    if errorMessage
        div.alert.alert-danger.col-sm-7 !{errorMessage}
    form(action="/admin/add-services" method="POST" enctype="multipart/form-data")
        input(type="hidden" name="_csrf" value=`${csrfToken}`)
        .row.clearfix
            .col-md-12
                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header
                                h2.text-white
                                    | SERVİS EKLEME SAYFASI 
        .row.clearfix
            .col-md-2

                .card.bg-light.text-center
                    .body
                        .form-group
                            label.form-check-label.mb-5 Aktif
                            .form-check.form-switch.d-flex.justify-content-center
                                input.form-check-input.mt-auto.p-2.bd-highlight#isActive(type="checkbox" name="isActive")
            .col-md-10
                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header.bg-white
                                h2
                                    | SERVİS İCONU
                                    small.text-danger
                                        | Gerekli
                                    small.text-danger
                                        a(href="https://fontawesome.com/v5.15/icons/" target="_blank") https://fontawesome.com/v5.15/icons/ site üzerinden istediğiniz iconu seçip yapıştırın
                            .body
                                .form-line
                                    input.form-control#icon(type="text" name="icon" placeholder="<i class='fas fa-user'></i>")  
        .row.clearfix
            .col-md-12
                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header.bg-white
                                h2
                                    | SERVİS ADI
                                    small.text-danger
                                        | Gerekli
                            .body
                                .form-line
                                    input.form-control#icon(type="text" name="name" placeholder="Danışmanlık")

        .form-group.row
            .col-sm-12
                .card.text-center.bg-blue-grey
                    .header.bg-white
                        h2
                            | AÇIKLAMA                            
                            small.text-info
                                | İsteğe Bağlı
                    .body
                        .form-line
                            textarea.form-control#description(type="text" name="description"  rows="3" placeholder="Kısa Açıklama")

        
        .form-group.row
            input(type="submit" value="Servisi Kaydet").col-md-12.btn.btn-warning
                            
block script
    script(src='/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js')
    script(src='/js/image.js')

