extends ../layouts/admin-layout.pug
block styles
    link(rel="stylesheet" href="/css/themes/image.css")
    script.jsbin(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
block content
    if errorMessage
        div.alert.alert-danger.col-sm-12 !{errorMessage}
    form(action="/admin/add-client" method="POST" enctype="multipart/form-data")
        input(type="hidden" name="_csrf" value=`${csrfToken}`)
        .row.clearfix
            .col-md-12
                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header
                                h2.text-white
                                    | REFERANS EKLEME SAYFASI 
        .row.clearfix
            .col-md-2
                .card.bg-light.text-center
                    .body
                        .form-group
                            label.form-check-label.mb-5 Aktif
                            .form-check.form-switch.d-flex.justify-content-center
                                input.form-check-input.mt-auto.p-2.bd-highlight#isActive(type="checkbox" name="isActive")
            .col-md-10
                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header.bg-white
                                h2
                                    | REFERANS ADI
                                    small.text-danger
                                        | Gerekli
                            .body
                                .form-line
                                    input.form-control#name(type="text" name="name" placeholder="Bosch" required oninvalid="this.setCustomValidity('Lüften Referans Alanını Boş Bırakmayınız')" oninput="this.setCustomValidity('')")  
        .row.clearfix            
            .col-md-12
                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header.bg-white
                                h2
                                    | REFERANS WEB ADRESİ
                                    small.text-danger
                                        | İsteğe Bağlı
                            .body      
                                .form-line
                                    input.form-control#link(type='text' name="link" placeholder='https://www.bosch-home.com.tr/')
        .row
            .col-md-12
                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header.bg-white
                                h2
                                    | Referans Logosu
                                    small.text-info
                                        | Bir Tane Resim Seçilebilir
                            .body.bg-blue-grey
                                .fileupload.fileupload-new(data-provides='fileupload')
                                    span.btn.btn-warning.btn-file
                                        span.fileupload-new Yeni
                                        span.fileupload-exists Değiştir
                                        input#image(type="file" name="clientlogo")
                                    span.fileupload-preview
                                    a.close.fileupload-exists(href='#' data-dismiss='fileupload' style='float: none') ×
                        
                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header.bg-white
                                h2
                                    | AÇIKLAMA                            
                                    small.text-info
                                        | İsteğe Bağlı
                            .body
                                .form-line
                                    textarea.form-control#description(type="text" name="description"  rows="3")
        .form-group.row
                input(type="submit" value="Referansı Kaydet")#export-btn.col-md-12.btn.btn-warning

block script
    script(src='/js/image.js')

