





extends ../layouts/admin-layout.pug
block styles 
    link(rel="stylesheet" href="/css/themes/image.css")
    link(href='https://cdnjs.cloudflare.com/ajax/libs/flagstrap/1.0/css/flags.min.css' rel='stylesheet')


block content
    if errorMessage
        div.alert.alert-danger.col-sm-12 !{errorMessage}
    form(action="/admin/add-lang"  method="POST" enctype="multipart/form-data")
        input(type="hidden" name="_csrf" value=`${csrfToken}`)               
        .row.clearfix
            .col-md-12
                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header
                                h2.text-white
                                    | DİL EKLEME SAYFASI
        .row.clearfix
            .col-md-12

                .card.bg-light.text-center
                    .body
                        .form-group
                            label.form-check-label Aktif
                            .form-check.form-switch.d-flex.justify-content-center
                                input.form-check-input.mt-auto.p-2.bd-highlight#isActive(type="checkbox" name="isActive")
        .row
            .col-md-12
                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header.bg-white
                                h2
                                    | DİLİN BAYRAĞI
                            .body.bg-blue-grey
                                span(style="font-size:7rem;").text-center
                                    i(name="selecticon").flag-icon.flag-icon-af
                                .form-horizontal
                                    .form-group
                                        label Bir Ülkenin Bayrağını Seçiniz
                                        br
                                        #flagstrap3.flagstrap(data-input-name='country')
                                //- .fileupload.fileupload-new(data-provides='fileupload')
                                //-     span.btn.btn-warning.btn-file
                                //-         span.fileupload-new Yeni
                                //-         span.fileupload-exists Değiştir
                                //-         input#imageUrl(type="file" name="image" accept="image/*")
                                //-     span.fileupload-preview
                                //-     a.close.fileupload-exists(href='#' data-dismiss='fileupload' style='float: none') ×
        .row
            .col-md-6
                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header.bg-white
                                h2
                                    | DİLİN ADI
                                    small.text-danger
                                        | Gerekli
                            .body
                                .form-line
                                    input.text-center.form-control#lang(type="text" name="lang" placeholder="English" required oninvalid="this.setCustomValidity('Lüften Dil Adı Alanını Boş Bırakmayınız')" oninput="this.setCustomValidity('')")  
            .col-md-6

                .form-group.row
                    .col-sm-12
                        .card.text-center.bg-blue-grey
                            .header.bg-white
                                h2
                                    | DİLİN KODU
                                    small.text-danger
                                        | Gerekli
                            .body
                                .form-line
                                    input.text-center.form-control#value(type="text" name="value" placeholder="en" required oninvalid="this.setCustomValidity('Lüften Dilin Kodu Alanını Boş Bırakmayınız')" oninput="this.setCustomValidity('')")  

        .form-group.row
            input(type="submit" value="Dili Kaydet")#export-btn.col-md-12.btn.btn-warning
block script
    script.
        //- requireScript('slimjquery', '1.1.1', 'https://code.jquery.com/jquery-3.2.1.slim.min.js');
        requireScript('bundle', '1.1.1', 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.bundle.min.js');
        requireScript('flagstrap', '1.1.1', 'https://cdnjs.cloudflare.com/ajax/libs/flagstrap/1.0/js/jquery.flagstrap.min.js');
        requireScript("flagselect","1.10.28","/js/flagselect.js")
