extends ../layouts/admin-layout.pug
block styles
    meta(name='robots' content='noindex')
    meta(name='google' content='nositelinkssearchbox')
    link(rel="stylesheet" href="/css/login.css")

block content
    .col-lg-12
        
        form(action="/admin/password" method="POST")
            input(type="hidden" name="_csrf" value=`${csrfToken}`)   
            .section
                .container
                    .row.full-height.justify-content-center
                        .col-12.text-center.align-self-center.py-5
                            .section.pb-5.pt-5.pt-sm-2.text-center
                                h2.mb-4.pb-3 Profil Ayarları
                                .card-3d-wrap.mx-auto
                                    .card-3d-wrapper
                                        .card-front.bg-dark
                                            .center-wrap.text-center
                                                
                                                .section.text-center
                                                    if(action!=="undefined" && action==="true")
                                                        .alert.alert-info.alert-dismissible.fade.show(role='alert')
                                                            strong Mesaj Gönderildi. E-posta adresinizi kontrol ediniz
                                                    if(action!=="undefined" && action==="success")
                                                        .alert.alert-success.alert-dismissible.fade.show(role='alert')
                                                            strong Parolanız Güncellendi.
                                                    if(action!=="undefined" && action==="false")
                                                        .alert.alert-danger.alert-dismissible.fade.show(role='alert')
                                                            strong Bir Sorun Var. Mail Gönderilemiyor. E-posta Ayarlarını Kontrol Ediniz
                                                    script.
                                                        window.setTimeout(function() {
                                                            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                                                                $(this).remove(); 
                                                            });
                                                        }, 5000);
                                                    h4.text-white.mb-4.pb-3 Parola Yenileme
                                                    p.text-center.text-white.mb-4.pb-3 Parolanızı yenilemek için doğrulama yapmamız gerekiyor. Parolanızı yenileme istiyorsanız gönder tuşuna basın. E-posta adresinize gerekli link iletilecektir. 
                                                    input(type="submit" value="Gönder").btn.btn-warning.mt-4