extends ../layouts/main-layout.pug
block styles
    meta(name='robots' content='noindex')
    meta(name='google' content='nositelinkssearchbox')
    script(type='text/javascript').
        link("/css/login.css")
block content
    .col-lg-12
        form(action="/reset-password" method="POST")
            input(type="hidden" name="_csrf" value=`${csrfToken}`)   
            .section
                .container
                    .row.full-height.justify-content-center
                        .col-12.text-center.align-self-center.py-5
                            .section.pb-5.pt-5.pt-sm-2.text-center
                                .card-3d-wrap.mx-auto
                                    .card-3d-wrapper
                                        .card-front
                                            .center-wrap
                                                .section.text-center
                                                    if(action!=="undefined" && action==="true")
                                                        .alert.alert-success.alert-dismissible.fade.show(role='alert')
                                                            strong Mesaj Gönderildi. E-posta adresinizi kontrol ediniz
                                                    if(action!=="undefined" && action==="false")
                                                        .alert.alert-danger.alert-dismissible.fade.show(role='alert')
                                                            strong Bir Sorun Var. Mail Gönderilemiyor.
                                                    script.
                                                        window.setTimeout(function() {
                                                            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                                                                $(this).remove(); 
                                                            });
                                                        }, 5000);
                                                    h4.mb-4.pb-3 Parola Sıfırlama
                                                    if errorMessage
                                                        div.alert.alert-danger.col-sm-7 !{errorMessage} 
                                                    .form-group
                                                        i.fas.fa-envelope
                                                        .mb-2
                                                        input#email.form-style(type='email' name='email' placeholder='Email'  required oninvalid="this.setCustomValidity('Lüften Email Alanını Boş Bırakmayınız')" oninput="this.setCustomValidity('')").form-control
                                                    .form-group
                                                        .row
                                                            .col-md-7
                                                                a(href="/login").btn.btn-primary.mt-4.mb-3 Giriş Ekranına Dön
                                                            .col-md-5
                                                                input(type="submit" value="Gönder").btn.btn-primary.mt-4