
footer
  #footerColor.footer-wrap
    .container.first_class
      .row
        .col-md-4.col-sm-6
          h3 BE THE FIRST TO KNOW
          p
            | Get all the latest information on  Triedge Services, Events, Jobs
            | and Fairs. Sign up for our newsletter today.
        .col-md-4.col-sm-6
          form.newsletter
            input(type='text' placeholder='Email Address')
            button.newsletter_submit_btn(type='submit')
              i.fa.fa-paper-plane
        .col-md-4.col-sm-6
          .col-md-12
            .standard_social_links
              div
                li.round-btn.btn-facebook
                  a(href='#')
                    i.fab.fa-facebook-f
                li.round-btn.btn-linkedin
                  a(href='#')
                    i.fab.fa-linkedin-in(aria-hidden='true')
                li.round-btn.btn-twitter
                  a(href='#')
                    i.fab.fa-twitter(aria-hidden='true')
                li.round-btn.btn-instagram
                  a(href='#')
                    i.fab.fa-instagram(aria-hidden='true')
                li.round-btn.btn-whatsapp
                  a(href='#')
                    i.fab.fa-whatsapp(aria-hidden='true')
                li.round-btn.btn-envelop
                  a(href='#')
                    i.fa.fa-envelope(aria-hidden='true')
          .clearfix
          .col-md-12
            h3(style='text-align: right;') Stay Connected
    .second_class
      .container.second_class_bdr
        .row
          .col-md-4.col-sm-6
            .footer-logo
            p
              | Your one-stop career platform to find Jobs, Internships, Professional Trainings, Projects, and Volunteering Opportunities.
          .col-md-2.col-sm-6
            h3 Quick  LInks
            ul.footer-links
              li
                a(href='#') Home
              li
                a(href='#') About us
              li
                a(href='#') Triedge Partners
              li
                a(href='#') Contact Us
              li
                a(href='#' target='_blank') Terms &amp; Conditions
              li
                a(href='#' target='_blank') Privacy Policy
              li
                a(href='#') Sitemap
          .col-md-3.col-sm-6
            h3 OUR SERVICES
            ul.footer-category
              li
                a(href='#') Fresher Jobs
              li
                a(href='#') InternEdge - Internships &amp; Projects 
              li
                a(href='#') Resume Edge - Resume Writing Services
              li
                a(href='#') Readers Galleria - Curated Library
              li
                a(href='#') Trideus - Campus Ambassadors
            .clearfix
          .col-md-3.col-sm-6
            h3 triedge Events
            ul.footer-links
              li
                a(href='#') Triedge Events
              li
                a(href='#') Jobs &amp;AMP; Internship Fair 2019
    .row
      .container-fluid
        .copyright  
          p Copyright 2019 | All Rights Reserved by TRIEDGE Solutions Pvt. Ltd.
