//- nav.navbar.navbar-expand-lg.navbar-light.bg-white.py-3.shadow-sm
//- 	a.navbar-brand.font-weight-bold.d-block.d-lg-none(href='#') MegaMenu
//- 	button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarContent' aria-controls='navbars' aria-expanded='false' aria-label='Toggle navigation')
//- 		span.navbar-toggler-icon
//- 	#navbarContent.collapse.navbar-collapse
//- 		ul.navbar-nav.mx-auto
//- 			li.nav-item.dropdown.megamenu-li
//- 				a#megamneu.nav-link.dropdown-toggle.font-weight-bold.text-uppercase(href='' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Mega Menu
//- 				.dropdown-menu.border-0.p-0.m-0(aria-labelledby='megamneu')
//- 					.container
//- 						.row.bg-white.rounded-0.m-0.shadow-sm
//- 							.col-lg-7.col-xl-8
//- 								.p-4
//- 									.row
//- 										.col-lg-6.mb-4
//- 											h6.font-weight-bold.text-uppercase Heading one
//- 											ul.list-unstyled
//- 												li.nav-item
//- 													a.nav-link.text-small.pb-0(href='') Home
//- 												li.nav-item
//- 													a.nav-link.text-small.pb-0(href='') About
//- 												li.nav-item
//- 													a.nav-link.text-small.pb-0(href='') Help
//- 												li.nav-item
//- 													a.nav-link.text-small.pb-0(href='') Account
//- 										.col-lg-6.mb-4
//- 											h6.font-weight-bold.text-uppercase Heading two
//- 											ul.list-unstyled
//- 												li.nav-item
//- 													a.nav-link.text-small.pb-0(href='') Home
//- 												li.nav-item
//- 													a.nav-link.text-small.pb-0(href='') About
//- 												li.nav-item
//- 													a.nav-link.text-small.pb-0(href='') Help
//- 												li.nav-item
//- 													a.nav-link.text-small.pb-0(href='') Account
//- 										.col-lg-6.mb-4
//- 											h6.font-weight-bold.text-uppercase Heading three
//- 											ul.list-unstyled
//- 												li.nav-item
//- 													a.nav-link.text-small.pb-0(href='') Home
//- 												li.nav-item
//- 													a.nav-link.text-small.pb-0(href='') About
//- 												li.nav-item
//- 													a.nav-link.text-small.pb-0(href='') Help
//- 												li.nav-item
//- 													a.nav-link.text-small.pb-0(href='') Account
//- 										.col-lg-6.mb-4
//- 											h6.font-weight-bold.text-uppercase Heading four
//- 											ul.list-unstyled
//- 												li.nav-item
//- 													a.nav-link.text-small.pb-0(href='') Home
//- 												li.nav-item
//- 													a.nav-link.text-small.pb-0(href='') About
//- 												li.nav-item
//- 													a.nav-link.text-small.pb-0(href='') Help
//- 												li.nav-item
//- 													a.nav-link.text-small.pb-0(href='') Account
//- 							.col-lg-5.col-xl-4.px-0.d-none.d-lg-block(style='background: center center url(https://images.unsplash.com/photo-1533637267520-4dfd6aa7ee93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80)no-repeat; background-size: cover;')


header
	.container
		nav.navbar.navbar-expand-lg.fixed-top.navbar-light.bg-light
			.container
				#navbarSupportedContent.collapse.navbar-collapse
					ul.navbar-nav.ml-auto
						li.nav-item.dropdown.megamenu-li
							a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
								| mega dropdown
							.dropdown-menu.megamenu.bg-white(aria-labelledby='navbarDropdown' style="opacity:0.95;")
								.row
									.col-lg-7.col-xl-8
										.row
											.col-lg-4.mb-4												
												a.dropdown-item(href='#') Action
											.col-lg-4.mb-4
												a.dropdown-item(href='#') Action
											.col-lg-4.mb-4
												a.dropdown-item(href='#') Action
									.col-lg-5.col-xl-4.px-0.d-none.d-lg-block(style='background: center center url(https://images.unsplash.com/photo-1533637267520-4dfd6aa7ee93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80)no-repeat; background-size: cover;')