header
	.container
		nav.navbar.navbar-expand-lg.fixed-top.navbar-light.bg-light
			.container
				a.navbar-brand(href='#') Navbar
				button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
					span.navbar-toggler-icon
				#navbarSupportedContent.collapse.navbar-collapse
					ul.navbar-nav.ml-auto
						li.nav-item.dropdown.megamenu-li
							a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
								| mega dropdown
							.dropdown-menu.megamenu.bg-white(aria-labelledby='navbarDropdown' style="opacity:0.8;")
								.row
									.col-6
										a.dropdown-item(href='#') Action
										a.dropdown-item(href='#') Another action
										a.dropdown-item(href='#') Something else here
									.col-6
										a.dropdown-item(href='#') Action
										a.dropdown-item(href='#') Another action
										a.dropdown-item(href='#') Something else here
