

script(src='/js/lazy.js')

script(async src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
script(async src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js")
script(async src="https://kit.fontawesome.com/fddf5c0916.js" crossorigin="anonymous")
script(async src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous")

script(async src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')
script(async src='/js/owl.carousel.min.js')
//- script(data-src='/plugins/purecounter/purecounter.js')
//- script(data-src='/plugins/glightbox/js/glightbox.min.js')
//- script(data-src='/plugins/isotope-layout/isotope.pkgd.min.js')
//- script(data-src='https://unpkg.com/swiper@7/swiper-bundle.min.js')
script(data-src="/js/category.js")

script(async src="/js/slide.js")
script(async src='/js/pages/nav/jquery.sticky.js')
//- script(data-src='/js/main.js')
script(data-src="/js/pages/services/main.js")

script(src='/js/main2.js')
script(data-src='/js/back-to-top.js')









block script

