doctype html
html(lang="en")

    include ../includes/head.pug

    body
        .text-center.mt-5
            img(src="/img/mainMode.webp" width="50%" height="auto")
            h3.mt-2
                strong Verdiğimiz Rahatsızlıktan Dolayı Özür Dileriz.
            h5  En Yakın Zamanda Web Sitemiz Aktif Olacaktır.

    include ../includes/script.pug

