extends ./layouts/main-layout.pug
block styles

    link(href='/css/404.css' rel='stylesheet')

    
block content
    #notfound
        .notfound
            .notfound-404
                h1
                    | 4
                    span 0
                    | 4
            h2 Evyah Kayboldun mu?
            .d-flex.justify-content-center.mt-3                
                a.btn.bg-light(href='/') Anasayfaya Geri Dön