mixin aboutservices(aboutservices)
    if aboutservices.length>0
        header
            h1 HİZMETLERİMİZ
        .container.owl-2-style.text-center
                .owl-carousel.owl-2.pt-3
                    each aboutservice in aboutservices
                        .media-29101(style="height:25rem;")
                            .item-4(style="height:25rem;")
                                a.card(href=`/aboutservices/${aboutservice._id}`).bg-light
                                    img.deneme(data-src=`/img/resized/${aboutservice.imageUrl}`)
                                    .thumb.pt-1                                   
                                        h1.pb-1 #{aboutservice.name}
                                        span
                                            button.btn.btn-dark(style="text-decoration: none") İncele