mixin aboutservices(posts)
    if posts.length>0
        header
            h1 HİZMETLERİMİZ
        .container.owl-3-style.text-center
                .owl-carousel.owl-3.pt-3
                    each post in posts
                        if post.type=="aboutservices" && post.isHome
                            .media-29101(style="height:auto;")
                                .item-4(style="height:auto;")
                                    a.card(href=`/aboutservices/${post.url}` style="height:auto;").bg-light
                                        img.deneme(data-src=`/img/resized/${post.aboutservices.imageUrl}` width="300" height="auto")
                                        article                                 
                                            h2 #{post.aboutservices.name}
                                            span
                                                button.btn.btn-dark(style="text-decoration: none") İncele