mixin project(projectinfo)
    if projectinfo.length>0
        header
            h1 PROJELERİMİZ
        .container.owl-2-style.text-center
                .owl-carousel.owl-2.pt-3
                    
                    each projects in projectinfo
                        .media-29101(style="height:25rem;")
                            .item-4(style="height:25rem;")
                                a.card(href=`/project/${projects._id}`).bg-light
                                    img.deneme(data-src=`/img/resized/${projects.imageUrl}`)
                                    .thumb.pt-3                                    
                                        h1.pb-3 #{projects.name}
                                        span
                                            button.btn.btn-dark(style="text-decoration: none") İncele
                                        