mixin services()
    section#hero.d-flex.align-items-center.justify-content-center
        //- (style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg)")
        .container(data-aos='fade-up')
            .row.justify-content-center(data-aos='fade-up' data-aos-delay='150')
                .col-xl-6.col-lg-8
                    h1
                        | Powerful Digital Solutions With Gp
                        span .
                    h2 We are team of talented digital marketers
            .row.gy-4.mt-5.justify-content-center(data-aos='zoom-in' data-aos-delay='250')
                .col-xl-2.col-md-4
                    .icon-box
                        i.ri-store-line
                        h3
                            a(href='') Lorem Ipsum
                .col-xl-2.col-md-4
                    .icon-box
                        i.ri-bar-chart-box-line
                        h3
                            a(href='') Dolor Sitema
                .col-xl-2.col-md-4
                    .icon-box
                        i.ri-calendar-todo-line
                        h3
                            a(href='') Sedare Perspiciatis
                .col-xl-2.col-md-4
                    .icon-box
                        i.ri-paint-brush-line
                        h3
                            a(href='') Magni Dolores
                .col-xl-2.col-md-4
                    .icon-box
                        i.ri-database-2-line
                        h3
                            a(href='') Nemos Enimade

