mixin shortservices(posts)
    section#services.services
        .container
            .section-title
                p Servislerimiz
            .row
                each post in posts
                    if post.type=="shortservices"
                        .col.p-1
                            .icon-box.bg-light
                                .icon
                                    | !{post.shortservices.icon}
                                h3.text-light
                                    a(href='' style="text-decoration:none;") #{post.shortservices.name}
                                p #{post.shortservices.description}