
link(href='/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css' rel='stylesheet') 
link(href='/plugins/animate-css/animate.css' rel='stylesheet')
link(href='/plugins/node-waves/waves.css' rel='stylesheet')
link(href='/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' rel='stylesheet')
script.jsbin(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')