script(src='/plugins/jquery/jquery.min.js')
script(src='/plugins/bootstrap/js/bootstrap.js')
script(src='/plugins/bootstrap-select/js/bootstrap-select.js')
script(src='/plugins/jquery-slimscroll/jquery.slimscroll.js')
script(src='/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js')
script(src='/plugins/dropzone/dropzone.js')
script(src='/plugins/jquery-inputmask/jquery.inputmask.bundle.js')
script(src='/plugins/multi-select/js/jquery.multi-select.js')
script(src='/plugins/jquery-spinner/js/jquery.spinner.js')
script(src='/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js')
script(src='/plugins/nouislider/nouislider.js')
script(src='/plugins/node-waves/waves.js')
script(src='/js/admin.js')
script(src='/js/pages/forms/advanced-form-elements.js')
script(src='/js/demo.js')