script(src='/plugins/jquery/jquery.min.js')
script(async src='/plugins/jquery-slimscroll/jquery.slimscroll.js')
script(async src='/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js')
script(async src='/plugins/dropzone/dropzone.js')
script(async src='/plugins/jquery-inputmask/jquery.inputmask.bundle.js')
script(async src='/plugins/jquery-spinner/js/jquery.spinner.js')
script(async src='/plugins/nouislider/nouislider.js')
script(async src='/plugins/node-waves/waves.js')
script(async src='/js/admin.js')
script(async src='/js/pages/forms/advanced-form-elements.js')
//- script(src='/js/demo.js')