


aside#leftsidebar.sidebar
            
        // User Info
        .user-info
            .image
                img(src='/img/user.png' width='48' height='48' alt='User')
            .info-container
                .name(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') John Doe
                .email john.doe@example.com
                .btn-group.user-helper-dropdown
                    i.material-icons(data-toggle='dropdown' aria-haspopup='true' aria-expanded='true') keyboard_arrow_down
                    ul.dropdown-menu.pull-right
                        li
                            a(href='javascript:void(0);')
                                i.material-icons person
                                | Profile
                        li.divider(role='separator')
                        li
                            a(href='javascript:void(0);')
                                i.material-icons group
                                | Followers
                        li
                            a(href='javascript:void(0);')
                                i.material-icons shopping_cart
                                | Sales
                        li
                            a(href='javascript:void(0);')
                                i.material-icons favorite
                                | Likes
                        li.divider(role='separator')
                        li
                            a(href="/logout")
                                i.material-icons input
                                | Sign Out
        // #User Info
        // Menu
        
        .menu
        
            ul.list
                li.header 
                    a(href="/admin/").navbar-brand SprindDay Admin Dashboard
                li(class=(path==='/admin/'? 'active':''))
                    a(href="/admin/")
                        i.material-icons home
                        span Home
                li(class=(path===("/admin/add-product") || path===("/admin/products") || path===('/admin/categories') || path===('/admin/add-category') || path===("/admin/slide") || path===("/admin/add-slide") ? 'active':''))
                    a.menu-toggle(href='javascript:void(0);')
                        i.material-icons widgets
                        span İşlemler
                    ul.ml-menu
                        li(class=(path===('/admin/products') || path===('/admin/add-product') ? 'active':''))
                            a.menu-toggle(href='javascript:void(0);')
                                span Ürünler
                            ul.ml-menu
                                li(class=(path==='/admin/products' ? 'active':''))
                                    a(href="/admin/products") Ürün Listesi
                                    
                                li(class=(path==='/admin/add-product' ? 'active':''))
                                    
                        li(class=(path===('/admin/categories') || path===('/admin/add-category') ? 'active':''))
                            a.menu-toggle(href='javascript:void(0);')
                                span Kategoriler
                            ul.ml-menu
                                li(class=(path==='/admin/categories' ? 'active':''))
                                    a(href="/admin/categories") Kategori Listeleme
                                li(class=(path==='/admin/add-category' ? 'active':''))
                                    a(href="/admin/add-category")  Kategori Ekleme
                        li(class=(path===('/admin/slide') || path===('/admin/add-slide') ? 'active':''))
                            a.menu-toggle(href='javascript:void(0);')
                                span Slider
                            ul.ml-menu
                                li(class=(path==='/admin/slide' ? 'active':''))
                                    a(href="/admin/slide") Sliderler
                                li(class=(path==='/admin/add-slide' ? 'active':''))
                                    a(href="/admin/add-slide")  Slide Ekleme
                li
                    a.menu-toggle(href='javascript:void(0);')
                        i.material-icons settings
                        span Genel Ayarlar
                    ul.ml-menu
                        li
                            a(href='/admin/system') Sistem Ayarları
                        li
                            a(href='/admin/logo') Logo Ayarları
                        li
                            a(href='/admin/mail') E-Posta Ayarları
                        li
                            a(href='pages/ui/breadcrumbs.html') Google Analystic 
                li
                    a.menu-toggle(href='javascript:void(0);')
                        i.material-icons dashboard
                        span Site Yönetimi
                    ul.ml-menu
                        li
                            a(href='pages/forms/basic-form-elements.html') Dil Yönetimi
                        li
                            a(href='pages/forms/advanced-form-elements.html') Menü Yönetimi
                        li
                            a(href='/admin/themes') Tema Ayarları
                li
                    a.menu-toggle(href='javascript:void(0);')
                        i.material-icons view_list
                        span Modüller
                    ul.ml-menu
                        li
                            a(href='/admin/client') Referanslar
                        li
                            a(href='/admin/social') Sosyal Medya
                        li
                            a(href='/admin/services') Kısa Hizmetler ile Bilgi
                li
                    a.menu-toggle(href='javascript:void(0);')
                        i.material-icons perm_media
                        span Medias
                    ul.ml-menu
                        li
                            a(href='pages/medias/image-gallery.html') Image Gallery
                        li
                            a(href='pages/medias/carousel.html') Carousel
                li
                    a.menu-toggle(href='javascript:void(0);')
                        i.material-icons pie_chart
                        span Charts
                    ul.ml-menu
                        li
                            a(href='pages/charts/morris.html') Morris
                        li
                            a(href='pages/charts/flot.html') Flot
                        li
                            a(href='pages/charts/chartjs.html') ChartJS
                        li
                            a(href='pages/charts/sparkline.html') Sparkline
                        li
                            a(href='pages/charts/jquery-knob.html') Jquery Knob
                li
                    a.menu-toggle(href='javascript:void(0);')
                        i.material-icons content_copy
                        span Example Pages
                    ul.ml-menu
                        li
                            a(href='pages/examples/profile.html') Profile
                        li
                            a(href='pages/examples/sign-in.html') Sign In
                        li
                            a(href='pages/examples/sign-up.html') Sign Up
                        li
                            a(href='pages/examples/forgot-password.html') Forgot Password
                        li
                            a(href='pages/examples/blank.html') Blank Page
                        li
                            a(href='pages/examples/404.html') 404 - Not Found
                        li
                            a(href='pages/examples/500.html') 500 - Server Error
                li
                    a.menu-toggle(href='javascript:void(0);')
                        i.material-icons map
                        span Maps
                    ul.ml-menu
                        li
                            a(href='pages/maps/google.html') Google Map
                        li
                            a(href='pages/maps/yandex.html') YandexMap
                        li
                            a(href='pages/maps/jvectormap.html') jVectorMap
                li
                    a.menu-toggle(href='javascript:void(0);')
                        i.material-icons trending_down
                        span Multi Level Menu
                    ul.ml-menu
                        li
                            a(href='javascript:void(0);')
                                span Menu Item
                        li
                            a(href='javascript:void(0);')
                                span Menu Item - 2
                        li
                            a.menu-toggle(href='javascript:void(0);')
                                span Level - 2
                            ul.ml-menu
                                li
                                    a(href='javascript:void(0);')
                                        span Menu Item
                                li
                                    a.menu-toggle(href='javascript:void(0);')
                                        span Level - 3
                                    ul.ml-menu
                                        li
                                            a(href='javascript:void(0);')
                                                span Level - 4
                li
                    a(href='pages/changelogs.html')
                        i.material-icons update
                        span Changelogs
                li.header LABELS
                li
                    a(href='javascript:void(0);')
                        i.material-icons.col-red donut_large
                        span Important
                li
                    a(href='javascript:void(0);')
                        i.material-icons.col-amber donut_large
                        span Warning
                li
                    a(href='javascript:void(0);')
                        i.material-icons.col-light-blue donut_large
                        span Information
        // #Menu
        // Footer
        .legal
            .copyright
                | &copy; 2016 - 2017
                a(href='javascript:void(0);') AdminBSB - Material Design
                | .
            .version
                b Version: 
                | 1.0.5
        // #Footer
        // #END# Left Sidebar


