


aside#leftsidebar.sidebar.notranslate(translate="no")
            
        // User Info
        .user-info
            .text-center
                if isAdmin
                    img(src='/img/admin.png' width='100' height='100' alt='Admin')
                else if isLimited
                    img(src='/img/limited.png' width='100' height='100' alt='Limited Admin')
        .menu
        
            ul.list
                li.header 
                    a(href="/admin/").navbar-brand Sprinday Admin Dashboard

                li(class=(path==='/admin/'? 'active ':''))
                    a(href="/admin/").nav-link
                        i.material-icons home
                        span Anasayfa
                li(class=(path===('/admin/system') || path===('/admin/logo') || path===('/admin/mail') || path===('/admin/themes') || path===('/admin/activemodule') ? 'active ':''))
                    a.menu-toggle(href='javascript:void(0);').nav-link
                        i.material-icons  build
                        span Genel Ayarlar
                    
                    ul.ml-menu
                        if path==="/admin/system"
                            li.bg-warning.align-middle.text-center
                                p Bazen menüler açılmıyor olabilir. Bunun için lütfen anasayfaya gidip tekrar deneyiniz
                        if isAdmin
                            li(class=(path==='/admin/system' ? 'active':''))
                                a(href='/admin/system').nav-link Sistem Ayarları
                                    
                        li(class=(path==='/admin/logo' ? 'active ':''))
                            a(href='/admin/logo').nav-link Logo Ayarları
                        li(class=(path==='/admin/mail' ? 'active':''))
                            a(href='/admin/mail').nav-link E-Posta Ayarları
                        li(class=(path==='/admin/themes' ? 'active':''))
                            a(href='/admin/themes').nav-link Tema Ayarları
                        li(class=(path==='/admin/activemodule' ? 'active':''))
                            a(href='/admin/activemodule').nav-link Modül Ayarları
                li(class=((path==='/admin/orders') ? 'active':''))
                    a(href='/admin/orders').nav-link
                    
                        i.material-icons shopping_cart
                        span Siparişler
                        
                li(class=(path===("/admin/add-product") || path===("/admin/products") || path===('/admin/categories')  || path===('/admin/brand') || path===('/admin/add-brand') || path===('/admin/add-category') || path===("/admin/slide") || path===("/admin/add-slide") ? 'active ':''))
                    a.menu-toggle(href='javascript:void(0);').nav-link
                        i.material-icons widgets
                        span İşlemler
                    ul.ml-menu
                        li(class=(path==='/admin/products' ? 'active':''))
                            a(href="/admin/products").nav-link Ürünler
                                    
                        li(class=(path==='/admin/categories' ? 'active ':''))
                            a(href="/admin/categories").nav-link Kategoriler
                        li(class=(path==='/admin/brand' ? 'active ':''))
                            a(href="/admin/brand").nav-link Markalar
                        li(class=(path==='/admin/slide' ? 'active':''))
                            a(href="/admin/slide").nav-link Sliderler             
                li(class=((path==='/admin/page') ? 'active':''))

                    a(href='/admin/page').nav-link
                    
                        i.material-icons menu
                        span Menü Yönetimi
                if path==="/admin/page"
                    li.bg-warning.align-middle.text-center
                        p Bazen menüler açılmıyor olabilir. Bunun için lütfen anasayfaya gidip tekrar deneyiniz
                li(class=(path===("/admin/add-lang") || path===("/admin/lang")  || path===("/admin/users") || path===("/admin/edit-lang") || (path==='/admin/contact') || (path==='/admin/footer') ? 'active ':''))
                    a.menu-toggle(href='javascript:void(0);').nav-link
                        i.material-icons assignment_turned_in
                        span Site Yönetimi
                    ul.ml-menu
                        li(class=(path==='/admin/lang' ? 'active':''))
                            a(href='/admin/lang').nav-link Dil Yönetimi
                        li(class=((path==='/admin/footer') ? 'active':''))
                            a(href='/admin/footer').nav-link Footer Alanı
                        li(class=((path==='/admin/users') ? 'active':''))
                            a(href='/admin/users').nav-link Üyeler
                        li(class=((path==='/admin/contact') ? 'active':''))
                            a(href='/admin/contact').nav-link Mesajlar
                li(class=(path===("/admin/project") || path===("/admin/aboutservices")  || path===("/admin/client") || path===("/admin/services") || (path==='/admin/about') || (path==='/admin/news')? 'active ':''))
                    a.menu-toggle(href='javascript:void(0);').nav-link
                        i.material-icons content_copy
                        span Sayfalar
                    ul.ml-menu

                        li(class=((path==='/admin/project') ? 'active':''))
                            a(href='/admin/project').nav-link Projeler
                        li(class=((path==='/admin/aboutservices') ? 'active':''))
                            a(href='/admin/aboutservices').nav-link Hizmetler
                        li(class=((path==='/admin/client') ? 'active':''))
                            a(href='/admin/client').nav-link Referanslar                        
                        li(class=((path==='/admin/services') ? 'active':''))
                            a(href='/admin/services').nav-link Servisler
                        li(class=((path==='/admin/about') ? 'active':''))
                            a(href='/admin/about').nav-link Hakkımızda (S.S.S)
                        li(class=((path==='/admin/news') ? 'active':''))
                            a(href='/admin/news').nav-link Blog
                li(class=(path===("/admin/social")  || path===("/admin/bank") || path===("/admin/edit-bank") || (path==='/admin/add-bank') ? 'active ':''))
                    a.menu-toggle(href='javascript:void(0);').nav-link
                        i.material-icons info
                        span Bilgiler
                    ul.ml-menu
                        li(class=((path==='/admin/social') ? 'active':''))
                            a(href='/admin/social').nav-link Sosyal Medya 
                        li(class=((path==='/admin/bank') ? 'active':''))
                            a(href='/admin/bank').nav-link Banka
                li(class=(path===("/admin/advanced") || path===("/admin/process")  || path===("/admin/alladmin") || path===("/admin/password") ? 'active ':''))
                    a.menu-toggle(href='javascript:void(0);').nav-link
                        i.material-icons lock
                        span Güvenlik
                    ul.ml-menu
                        li(class=((path==='/admin/advanced') ? 'active':''))
                            a(href='/admin/advanced').nav-link Giriş İşlemleri
                        li(class=((path==='/admin/process') ? 'active':''))
                            a(href='/admin/process').nav-link Yapılan İşlemler
                        li(class=((path==='/admin/alladmin') ? 'active':''))
                            a(href='/admin/alladmin').nav-link Admin
                        li(class=((path==='/admin/password') ? 'active':''))
                            a(href='/admin/password').nav-link Parola Yenileme
        .legal
            .copyright
                | &copy; 2021-2022 Springday 
                a(href='http://www.misikbal.com' target='_blank') misikbal.com
                | .


