nav.navbar.navbar-expand-lg.site-navigation
    .container-fluid
        .row
            .col
                .navbar-header.navbar-center
                    a.bars(href='javascript:void(0);')
                    a.navbar-brand(href='/admin') SPRİNGDAY ADMİN PANELİ
                    a.navbar-brand(href='/')
                        i.material-icons home
                    a.navbar-brand(href='/logout')
                        i.material-icons logout
