//- script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js' integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
script(src='/plugins/bootstrap/js/bootstrap.js')
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.4.0/js/bootstrap-colorpicker.min.js")
script(src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js")
script(src='/plugins/bootstrap-select/js/bootstrap-select.js')
script(src='/plugins/jquery-slimscroll/jquery.slimscroll.js')
script(src='/plugins/node-waves/waves.js')

script(src='/plugins/jquery-countto/jquery.countTo.js')
script(src='/plugins/raphael/raphael.min.js')
script(src='/plugins/morrisjs/morris.js')
script(src='/plugins/jquery-sparkline/jquery.sparkline.js')
script(src='/plugins/multi-select/js/jquery.multi-select.js')
script(src='/plugins/jquery-spinner/js/jquery.spinner.js')
script(src='/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js')
script(src='/plugins/nouislider/nouislider.js')
script(src='/js/admin.js')
script(src='/js/pages/index.js')
script(src='/js/demo.min.js')
block script
