script(src="/plugins/jquery-datatable/jquery.dataTables.js")
script(src="/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js")
script(src="/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js")
script(src="/plugins/jquery-datatable/extensions/export/buttons.flash.min.js")
script(src="/plugins/jquery-datatable/extensions/export/jszip.min.js")
script(src="/plugins/jquery-datatable/extensions/export/pdfmake.min.js")
script(src="/plugins/jquery-datatable/extensions/export/vfs_fonts.js")
script(src="/plugins/jquery-datatable/extensions/export/buttons.html5.min.js")
script(src="/plugins/jquery-datatable/extensions/export/buttons.print.min.js")
script(src='/js/pages/tables/jquery-datatable.js')