extends ../layouts/main-layout.pug
include ../mixins/client.pug

block styles
    script(type='text/javascript').
        link('/css/project.min.css')


block content
    if aboutservices.length>0

        header
            br
            br
            br
            br
            br
            br

            h1 #{system.services}
        .container.text-center
            .row
                each aboutservice in aboutservices
                    if aboutservice.type=="aboutservices"
                        .col-md-4
                            .item-1(style="height:auto;")
                                a.card(href=`/aboutservices/${aboutservice.url}` style="height:auto;").bg-light
                                    img(src=`/img/resized/${aboutservice.aboutservices.imageUrl}`)
                                    article
                                        h2 #{aboutservice.aboutservices.name}
                                        span
                                            button.btn.btn-dark(style="text-decoration: none") İncele
    br
    br
    br
    br
    +client(globalvalue) 