extends ../layouts/main-layout.pug
include ../mixins/createSlide.pug
include ../mixins/services.pug
include ../mixins/productcard.pug
include ../mixins/client.pug
include ../mixins/category.pug
include ../mixins/project.pug
include ../mixins/aboutservices.pug


include ../mixins/shortservices.pug

block styles    

  link(rel="stylesheet" href="/css/otherproduct.css")
  link(href='/css/category.css' rel='stylesheet')
  link(href='/css/project.css' rel='stylesheet')
  link(href='/css/aboutservices.css' rel='stylesheet')


block content
    if slides.length>0

      .w-auto
        #carouselExampleIndicators.carousel.slide(data-ride='carousel',data-interval="2500")
            ol.carousel-indicators
              -var slideIndex=0;
                each slide in slides
                  li.li-white.li-slide(data-slide-to=`${slideIndex}` data-target='#carouselExampleIndicators')
                  -slideIndex++;
              script.
                $(".carousel-indicators .li-slide").first().addClass("active");
            .carousel-inner    
                  each slide in slides
                        +createSlide(slide)
            a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next
        //- script.
        //-     $(".carousel-item .item").first().addClass("active").attr('src', $(".carousel-item .item").first().attr('lazy-load-src')).removeAttr('lazy-load-src')
        //- script.
        //-     $(function() {
        //-         $('.carousel-item').on('slid', function() {
        //-             var $nextImage = $('.active', this).next('.carousel-item .item').find('img');
        //-             $nextImage.attr('src', $nextImage.data('data-lazy-load-src'));
        //-         });
        //-     });
    +category(categories)
    section#portfolio.portfolio
      .container(data-aos='fade-up')
          .section-title
              p Ürünlerimiz
          .row(data-aos='fade-up' data-aos-delay='100')
              .col-lg-12.d-flex.justify-content-center
                  ul#portfolio-flters
                      li.filter-active.category(data-filter='*') Hepsi
                      if categories.length>0
                          each category,products in categories
                              li.category(data-filter=`.${category._id}` class=category._id==selectedCategory?"active":"") #{category.name}
          .row.portfolio-container(data-aos='fade-up' data-aos-delay='200')
            each product in products
              +productcard(product)
          button.btn.btn-warning.col-md-12 
            a(href="/products" style="text-decoration: none;").text-dark  Daha Fazla Ürün Göster
    +shortservices(services)
    br
    +project(projectinfo)
    
    br
    +aboutservices(aboutservices)
    br
    +client(client) 
    br


block script
    script(src='/plugins/purecounter/purecounter.js')
    script(src='/plugins/aos/aos.js')
    script(src='/plugins/glightbox/js/glightbox.min.js')
    script(src='/plugins/isotope-layout/isotope.pkgd.min.js')
    //- script(src='https://unpkg.com/swiper@7/swiper-bundle.min.js')
    script(src="/js/otherproduct.js")
    script(src="/js/slide.js")
    //- script(src="/js/card.js")
