extends ../layouts/main-layout.pug
include ../mixins/client.pug

block styles

    link(href='/css/project.css' rel='stylesheet')
    link(href='/css/aboutservices.css' rel='stylesheet')


block content
    if project.length>0
        br
        br
        br
        br
        br
        br

        header
            h1 PROJELERİMİZ
        .container.text-center
            .row
                each projects in project
                    .col-md-4
                        .item-1
                            a.card(href=`/project/${projects._id}` style="height:auto;").bg-light
                                .thumb.deneme(style=`background-image: url(/img/resized/${projects.imageUrl});`)
                                article
                                    h1 #{projects.name}
                                    span
                                        button.btn.btn-dark(style="text-decoration: none") İncele
    br
    br
    br
    +client(client)
block script

    script(src="/js/card.js")