extends ../layouts/main-layout.pug
include ../mixins/client.pug

block styles
    
    link(rel='stylesheet' href='/css/project.css' media='print' onload="this.media='all'; this.onload = null")
block content
    if project.length>0
        br
        br
        br
        br
        br
        br

        header
            h1 #{system.project}
        .container.text-center
            .row
                each projects in project
                    .col-md-4
                        .item-1
                            a.card(href=`/project/${projects.url}` style="height:auto; text-decoration:none;").bg-light
                                img.thumb(style=`background-image: url(/img/resized/${projects.project.imageUrl});`)
                                article                                    
                                    h2 #{projects.project.name}
                                    span
                                        button.btn.btn-dark(style="text-decoration: none") İncele
    br
    br
    br
    +client(globalvalue)