:root{
    --navbarLight:var(--navbarLight);
    --navbarDark:var(--navbarDark);
    --infoLight:var(--infoLight);
    --infoDark:var(--infoDark);
    --bodyLight:var(--bodyLight);
    --bodyDark:var(--bodyDark);
    --cardLight:var(--cardLight);
    --cardDark:var(--cardDark);
    --footerLight:var(--footerLight);
    --footerDark:var(--footerDark)

}