
.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	width: 60px;
	height: 100px;
	cursor: pointer;
	background: transparent;
	top: 50%;
	margin-top: -45px;
	font-size: 0;
	border: none;
	z-index: 2;
}
.slick-prev:before,
.slick-next:before,
.slick-prev:after,
.slick-next:after {
	content: '';
	position: absolute;
	background: #fff;
	height: 2px;
	width: 50px;
	top: 50%;
	left: 5px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.slick-prev:before,
.slick-next:before {
	margin-top: -22px;
}
.slick-prev:after,
.slick-next:after {
	margin-top: 22px;
	margin-top: 2.2rem;
}
.slick-prev:hover:before,
.slick-next:hover:before {
	margin-top: -18px;
	margin-top: -1.8rem;
}
.slick-prev:hover:after,
.slick-next:hover:after {
	margin-top: 18px;
	margin-top: 1.8rem;
}
.slick-prev {
	left: -7px;
	left: 1em;
}
.slick-prev:before {
	-webkit-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
}
.slick-prev:after {
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg);
}
.slick-prev:hover:before {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.slick-prev:hover:after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.slick-next {
	right: -7px;
	right: 1rem;
}
.slick-next:before {
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg);
}
.slick-next:after {
	-webkit-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
}
.slick-next:hover:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.slick-next:hover:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}